---
import PublicationList from "@/components/PublicationList"
import Layout from '../layouts/Layout.astro';
import '@/styles/global.css'
---


<Layout>
    <div class="ml-10 mr-4">
      <h2 class="mt-30 mb-10 text-3xl font-bold">Publications</h2>
        <p>Here are my publications fetched from HAL:</p>
        <div class="">
            <PublicationList client:load />
        </div>
    </div>
</Layout>

