---
import  NavigationMain  from "@/components/Navigation"
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>



<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ammar Mian</title>
	</head>
    <script is:inline>
        const getThemePreference = () => {
            if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
                return localStorage.getItem('theme');
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        };
        const isDark = getThemePreference() === 'dark';
        document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
     
        if (typeof localStorage !== 'undefined') {
            const observer = new MutationObserver(() => {
                const isDark = document.documentElement.classList.contains('dark');
                localStorage.setItem('theme', isDark ? 'dark' : 'light');
            });
            observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
        }
    </script>


	<body>
        <NavigationMain client:load />

        <div class="  mt-16">
		    <slot />
        </div>
        <div class="flex justify-center text-sm mb-5">
            Copyright @Ammar Mian, 2025
        </div>
	</body>
</html>

